body {
  background-color: #dedede;
  margin-left: 5%;
  margin-right: 5%;
}

/* --------- TEKST ---------- */
@font-face {
  font-family: "nexa";
  src: url("../font/Nexa-Heavy.woff2");
}
@font-face {
  font-family: "nexaLight";
  src: url("../font/Nexa-ExtraLight.woff2");
}
@font-face {
  font-family: "saint";
  src: url("../font/SaintCarellClean_PERSONAL_USE_ONLY.woff2");
}

h3 {
  font-family: "nexa";
  font-size: 30px;
  color: #292a2a;
  margin-bottom: 0;
}

p {
  font-family: "nexaLight";
  font-size: 18px;
  color: #292a2a;
}

a {
  font-family: "nexa";
  font-size: 16px;
  color: #0303f1;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
strong {
  color: #0303f1;
}

.breadcrumbs {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5%;
}

.breadcrumbs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs li {
  display: inline;
  margin-right: 1px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #454445;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

/* --------- Web ----------- */
@media (min-width: 700px) {
  h1 {
    font-family: "saint";
    font-size: 90px;
    color: #292a2a;
    margin-bottom: 0;
    text-align: center;
    filter: drop-shadow(0 2px 2px #0303f1);
    opacity: 90%;
  }

  h2 {
    font-family: "nexa";
    font-size: 45px;
    color: #292a2a;
    margin-bottom: 0;
  }

  /* -------- GRID --------- */
  .grid2_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
  }

  .grid1_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
  }
  /* -------- Indhold --------- */
  img {
    max-width: 100%;
    max-height: 600px;
  }

  /* -------- forside --------- */
  a.index {
    font-family: "nexa";
    font-size: 28px;
    color: #454445;
    line-height: 400%;
  }

  /* -------- produkt --------- */
  .h3_P {
    margin-left: 50%;
  }

  .imgProdukt {
    margin-top: -6%;
  }

  button {
    max-width: 200px;
    max-height: 70px;
    font-family: "nexa";
    font-size: 20px;
    color: #0303f1;
    outline: #0303f1;
    margin: 10%;
  }

  /* -------- produktliste --------- */
  .h3_PL {
    font-family: "nexa";
    font-size: 16px;
    color: #292a2a;
    margin-bottom: 0;
  }
  .p_PL {
    font-family: "nexalight";
    font-size: 12px;
    color: #292a2a;
    margin-bottom: 0;
  }

  /* --- UDSOLGT ---- */
  .soldOutPos {
    position: absolute;
    top: 25%;
    rotate: -40deg;
  }
  .udsolgt {
    filter: grayscale(100%);
  }
  .soldoutImage {
    display: none;
  }
  .SoldOut .soldoutImage {
    display: block;
  }

  /* ---- Discount ---- */
  .hotprice {
    position: absolute;
    max-width: 200px;
  }
  .procent {
    border: 2px solid #f1f1f1;
    background-color: #f1f1f1;
    border-radius: 5px;
    opacity: 45%;
    padding: 5px; /* Plads indeni boksen */
    color: #ff0000;
    width: fit-content;
  }

  /* --------- kategori --------- */
  .box {
    border: #0303f1;
    width: 450px;
    height: 250px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-bottom: 5%;
  }

  .h3_K {
    padding: 10%;
  }

  hr {
    max-width: 250px;
  }
}

/* ---------------------------- Mobile -------------------------------- */
@media (max-width: 700px) {
  h1 {
    font-family: "saint";
    font-size: 60px;
    color: #292a2a;
    margin-bottom: 0;
    text-align: center;
    filter: drop-shadow(0 2px 2px #0303f1);
    opacity: 90%;
  }

  h2 {
    font-family: "nexa";
    font-size: 30px;
    color: #292a2a;
    margin-bottom: 0;
  }

  p {
    font-family: "nexaLight";
    font-size: 18px;
    color: #292a2a;
  }

  a {
    font-family: "nexa";
    font-size: 16px;
    color: #454445;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }
  strong {
    color: #0303f1;
  }

  img {
    max-width: 100%;
    max-height: 400px;
  }

  /* -------- forside --------- */
  a.index {
    font-family: "nexa";
    font-size: 28px;
    color: #454445;
    line-height: 400%;
  }

  /* -------- produkt --------- */
  button {
    font-family: "nexa";
    font-size: 20px;
    color: #0303f1;
    outline: #0303f1;
    margin: 20%;
  }

  #grid2_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  /* -------- produktliste --------- */
  .h3_PL {
    font-family: "nexa";
    font-size: 16px;
    color: #292a2a;
    margin-bottom: 0;
  }
  .p_PL {
    font-family: "nexalight";
    font-size: 12px;
    color: #292a2a;
    margin-bottom: 0;
  }

  #grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
  }

  /* --- UDSOLGT ---- */
  .soldOutPos {
    position: absolute;
    top: 20%;
    rotate: -40deg;
  }
  .udsolgt {
    filter: grayscale(100%);
  }
  .soldoutImage {
    display: none;
  }
  .SoldOut .soldoutImage {
    display: block;
  }

  /* ---- Discount ---- */
  .hotprice {
    position: absolute;
    max-width: 100px;
  }
  .procent {
    border: 2px solid #f1f1f1;
    background-color: #f1f1f1;
    border-radius: 5px;
    opacity: 45%;
    padding: 5px; /* Plads indeni boksen */
    color: #ff0000;
    width: fit-content;
  }

  /* ---------- kategori ---------- */
  .box {
    border: #0303f1;
    width: 300px;
    height: 200px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-bottom: 10%;
  }
  .h3_K {
    padding: 10%;
  }

  hr {
    max-width: 200px;
  }
}
