body {
  background-color: #dedede;
  margin-left: 5%;
}

/* --------- TEKST ---------- */
@font-face {
  font-family: "nexa";
  src: url("../font/Nexa-Heavy.woff2");
}
@font-face {
  font-family: "nexaLight";
  src: url("../font/Nexa-ExtraLight.woff2");
}

h1 {
  font-family: "nexa";
  font-size: 60px;
  color: #0303f1;
  margin-bottom: 0;
}

h2 {
  font-family: "nexa";
  font-size: 30px;
  color: #292a2a;
  margin-bottom: 0;
}

p {
  font-family: "nexaLight";
  font-size: 18px;
  color: #292a2a;
}

a {
  font-family: "nexa";
  font-size: 16px;
  color: #454445;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
strong {
  color: #0303f1;
}

.breadcrumbs {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5%;
}

.breadcrumbs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs li {
  display: inline;
  margin-right: 1px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #454445;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

/* -------- GRID --------- */
.grid2_1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* .grid1_1{
    display: grid;
    grid-template-columns: 1fr 1fr; 
} */

.grid1_1_1_1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
}

/* -------- Indhold --------- */
img {
  max-width: 100%;
  max-height: 600px;
}

/* -------- forside --------- */
a.index {
  font-family: "nexa";
  font-size: 28px;
  color: #454445;
  line-height: 400%;
}

/* -------- forside --------- */
.h2_PL{
    font-family: "nexa";
    font-size: 16px;
    color: #292a2a;
    margin-bottom: 0; 
}
.p_PL{
    font-family: "nexalight";
    font-size: 12px;
    color: #292a2a;
    margin-bottom: 0; 
}
/* --------- Mobile ----------- */
